beautifulsoup4==4.9.3; python_version >= "3.7" and python_version < "4.0"
certifi==2021.5.30; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
charset-normalizer==2.0.4; python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
dapodik==0.2.1; python_version >= "3.7" and python_version < "4.0"
et-xmlfile==1.1.0; python_version >= "3.7" and python_version < "4.0"
idna==3.2; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
lxml==4.6.3; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
openpyxl==3.0.7; python_version >= "3.6"
requests==2.26.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.6.0"
soupsieve==2.2.1; python_version >= "3.7" and python_version < "4.0"
urllib3==1.26.6; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
